#logo {
    font-family: 'Monda';
    font-size: 4.5rem;
    color: #264653;
    margin-top: 11vh;
    margin-bottom: 4vh;
}

#menu {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#menu a {
    width: 70%;
    max-width: 50rem;
    border-radius: 1.5rem;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

#menu a div {
    background-color: #D9D9D9;
    padding: 1.5rem;
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    font-family: 'Gabriela';
    font-size: 1.5rem;
    color: #264653;
    transition: background-color 0.25s ease;
}

#menu a div:hover {
    background-color: #d9d9d9c0;
    transition: background-color 0.5s;
}

#menu a div:active {
    background-color: #e0e0e0;
    transition: background-color 0.5s;
}

#advice-text {
    width: fit-content;
    height: fit-content;
    max-width: 60%;
    max-height: 30%;
    font-family: 'Gabriela';
    font-size: 1.1rem;
    color: #264653;
    text-align: center;
    margin-top: 3vh;
    margin-bottom: 5rem;
}

#bottom-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    height: 4rem;
    width: 70%;
    max-width: 50rem;
    position: fixed;
    bottom: 0;
    margin-bottom: 2rem;
    gap: 1rem;
}

#bottom-buttons a {
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 1rem;
}

#bottom-buttons a div {
    align-items: center;
    height: 100%;
    aspect-ratio: 1 / 1;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    font-family: 'Gabriela';
    font-size: 1.5rem;
    color: #264653;
    border-radius: 1rem;
    transition: background-color 0.5s;
}

#bottom-buttons a div:hover {
    background-color: #d9d9d9;
    transition: background-color 0.25s;
}

#bottom-buttons a div:active {
    background-color: #e0e0e0;
    transition: background-color 0.25s;
}

#bottom-buttons a div img {
    height: 2.8rem;
    width: 2.8rem;
    aspect-ratio: 1 / 1;
}